<!-- Editable table -->
<div class="card-wrapper">
    <div class="card"><i class="fas fa-microchip"></i>CPU
    <div class="card-body">
        <table>
          <tr *ngFor="let fileContents of batteryDetails">
            <td>{{fileContents.name}}</td>
           <td>{{fileContents.value}}</td>
          
         </tr>
        </table>
      </div>
     
    </div>
    
  <div class="card"><i class="fas fa-microchip"></i>Battery
      <div class="card-body">
        <table >
  
            <tr *ngFor="let fileContents of batteryDetails">
              <td>{{fileContents.name}}</td>
             <td>{{fileContents.value}}</td>
            
           </tr>
          </table>
        </div>
       
      </div>
    </div>
   