
@media all and (min-width: 768px) {
    table {
      border:  solid #d1d1d1;
      border-collapse: collapse;
      font-size:13px;
      color:#010101;
      background: rgb(245, 240, 240);
      tr  {
        border-bottom: 1px solid #d3d3d3;
        th {
          padding: 5px 5px;
          background-color: #f1f5fd;
        }
        th:nth-child(2) {
          border-left: 5px solid #d3d3d3;
        }
        td {
          padding: 5px 5px;
          span {
           // display:inline-block;
            width:200px;
            text-align:center;
          }
        }
        td:nth-child(2) {
          border-left: 1px solid #d3d3d3;
        }
        :hover {
          background-color: #f1f5fd;
        }
      }
    }
  }
  
  